html {
  text-align: center;
  /* background-color: rgb(94, 94, 94); */
  background-color: rgb(59, 0, 0);
}
::-webkit-scrollbar {
  display: none;
}
button{
  cursor: pointer;
}
nav{
  position: sticky;
  top: 0;
}
#font-title{
  color:rgb(255, 255, 255);
  font-family: Marvel;
}
.map-img{
  border-radius: 10px;
  height: 300px;
  margin: 15px 50px 0px 50px;
  border-style: groove;
  border-color: black;
}
.detail-img{
  padding: 75px 0px 0px 75px;
  height:600px
}
#search{
  margin-top: 10px;
}
#results{
  margin-top: 10px;
}
#movie-list{
  display: grid;
  grid-template-columns:1fr 1fr 1fr 1fr;
  padding-top: 40px;
  background-color: rgb(94, 94, 94);
  margin: auto;
  margin: 0px 160px 0px 160px;
}
.movie-map{
  background-color: rgb(80, 80, 80);
  margin:auto;
  margin-bottom: 20px;
  padding-top: 30px;
  border-radius: 15px;
  outline-style: groove;
  outline-color: black;
  outline-width: 1px;
  box-shadow: 10px 5px 5px rgb(48, 48, 48);
  transition: 1s;
  border-style: groove;
  border-color: rgb(66, 0, 0);
}
.movie-map:hover{
  outline-style:inset;
  outline-color: #570000;
  /* outline-color: #9d9d9d; */
  outline-width: 1ch;
  transition: .2s;
  box-shadow: 10px 5px 5px rgb(31, 31, 31);
  cursor: pointer;
}
#map-delete{
  margin-left: 5px;
  background-color: rgb(0, 0, 0);
  color:white;
  padding-top: 3px;
}
#header{  
  color: rgb(255, 255, 255);
  background-color: #7d0000;
  padding: 60px 0px 60px 0px;
  margin: 0px;
  font-family: Marvel;
  font-size: 50px;
}
#nav{
  justify-content: space-evenly;
  display: flex;
  background-color:#360000;
}
.font{
  color:rgb(255, 255, 255);
  font-family: 'Marvel';
  font-size:18px;
}
.nav-font{
  color: white;
}
.detail-layout{
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 3fr 1fr;
  background-color: #2a2a2afa;
  background: linear-gradient(90deg, rgb(7, 7, 7) 0%, rgb(37, 37, 37) 35%, rgb(0, 0, 0) 100%);
}
.rating{
  color:rgb(255, 255, 255);
  font-family: Marvel;
  display: inline;
}
iframe{
  padding-top: 70px;
}


@media (max-width:1580px){
#movie-list{
    grid-template-columns:1fr 1fr 1fr;
  }
  .map-img{
    border-radius: 10px;
    height: 250px;
    margin: 0px 40px 0px 40px;
    border-style: groove;
    border-color: black;
  }
  #header{  
    color: rgb(255, 255, 255);
    background-color: #7d0000;
    padding: 60px 0px 60px 0px;
    margin: 0px;
    font-family: Marvel;
    font-size: 35px;
  }
  #movie-list{
    margin: 0px 100px 0px 100px;
  }
}
@media (max-width:1075px){
  #movie-list{
    grid-template-columns:1fr 1fr;
  }
  .map-img{
    height: 250px;
  }
  #movie-list{
    margin: 0px 100px 0px 100px;
  }
}
@media (max-width:765px){
  .map-img{
    border-radius: 10px;
    height: 200px;
    margin: 0px 40px 0px 40px;
    border-style: groove;
    border-color: black;
  }
  #header{  
    font-size: 35px;
  }
  #movie-list{
    margin: 0px 100px 0px 100px;
    grid-template-columns:1fr 1fr;
  }
}
@media (max-width:700px){
  .map-img{
    border-radius: 10px;
    height: 175px;
    margin: 0px 40px 0px 40px;
    border-style: groove;
    border-color: black;
  }
  .font{
    font-size:15px;
  }
  #header{  
    font-size: 23px;
  }
  #movie-list{
    margin: 0px 80px 0px 80px;
  }
}
@media (max-width: 630px){
  .map-img{
    border-radius: 10px;
    height: 150px;
    margin: 0px 30px 0px 30px;
    border-style: groove;
    border-color: black;
  }
  .font{
    font-size:15px;
  }
  #header{  
    font-size: 23px;
  }
  #movie-list{
    margin: 0px 80px 0px 80px;
  }
}
@media (max-width: 480px){
  .map-img{
    border-radius: 10px;
    height: 150px;
    margin: 0px 30px 0px 30px;
    border-style: groove;
    border-color: black;
  }
  .font{
    font-size:15px;
  }
  #header{  
    font-size: 23px;
  }
  #movie-list{
    margin: 0px 20px 0px 20px;
  }
}