html {
  text-align: center;
  /* background-color: rgb(94, 94, 94); */
  /* background-color: rgb(59, 0, 0); */
  background-color: rgb(178, 178, 178);
}
a{
  text-decoration: none;
}
::-webkit-scrollbar {
  display: none;
}
button{
  cursor: pointer;
}
nav{
  position: sticky;
  top: 0;
}
#font-title{
  color:rgb(255, 255, 255);
  font-family: Marvel;
}
.map-img{
  border-radius: 10px;
  height: 350px;
  margin: 25px 50px 20px 50px;
  border-style: groove;
  border-color: black;
  transition: 1s;
  cursor: pointer;
  -moz-box-shadow: 3px 3px 3px rgb(48, 48, 48);
  -webkit-box-shadow: 3px 3px 3px rgb(48, 48, 48);
  box-shadow: 0px 0px 20px 10px rgb(48, 48, 48);
  /* box-shadow: 60px -15px teal; */
}
.map-img:hover{
  /* display: grid;
  grid-template-columns: 1fr 1fr; */
  height: 375px;
  margin: 20px 50px 0px 50px;
  transition: .35s;
  box-shadow: 0px 0px 20px 5px rgb(100, 100, 100);
}
.detail-img{
  padding: 75px 0px 0px 75px;
  height:600px
}
#search{
  margin-top: 10px;
}
#results{
  margin-top: 10px;
}
#movie-list{
  display: grid;
  grid-template-columns:1fr 1fr 1fr 1fr;
  padding-top: 40px;
  /* background-color: rgb(94, 94, 94); */
  background-color: rgb(178, 178, 178);
  margin: auto;
  margin: 0px 160px 0px 160px;
}
#map-delete{
  margin-left: 5px;
  background-color: rgb(0, 0, 0);
  color:white;
  padding-top: 3px;
}
#header{  
  color: rgb(255, 255, 255);
  background-color: #7d0000;
  padding: 60px 0px 60px 0px;
  margin: 0px;
  font-family: Marvel;
  font-size: 50px;
  transition: 1s;
}
#nav{
  justify-content: space-evenly;
  display: flex;
  background-color:#360000;
}
.font{
  color:rgb(255, 255, 255);
  font-family: 'Marvel';
  font-size:18px;
}
.nav-font{
  color: white;
}
.detail-layout{
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 3fr 1fr;
  background-color: #2a2a2afa;
  background: linear-gradient(90deg, rgb(7, 7, 7) 0%, rgb(37, 37, 37) 35%, rgb(0, 0, 0) 100%);
}
.rating{
  color:rgb(255, 255, 255);
  font-family: Marvel;
  display: inline;
}
iframe{
  padding-top: 70px;
}


@media (max-width:1700px){
#movie-list{
    grid-template-columns:1fr 1fr 1fr;
  }
  .map-img{
    height: 350px;
  }
  #header{  
    color: rgb(255, 255, 255);
    background-color: #7d0000;
    padding: 60px 0px 60px 0px;
    margin: 0px;
    font-family: Marvel;
    font-size: 35px;
  }
  #movie-list{
    margin: 0px 100px 0px 100px;
  }
}
@media (max-width:1235px){
  .map-img{
    height: 350px;
  }
  #header{  
    font-size: 35px;
  }
  #movie-list{
    margin: 0px 100px 0px 100px;
    grid-template-columns:1fr 1fr;
  }
}
@media (max-width:1075px){
  #movie-list{
    grid-template-columns:1fr 1fr;
  }
  .map-img{
    height: 250px;
  }
  .map-img:hover{
    height: 275px;
    margin: 20px 50px 0px 50px;
    transition: .5s;
    box-shadow: 0px 0px 20px 5px rgb(100, 100, 100);
  }
  #movie-list{
    margin: 0px 100px 0px 100px;
  }
}
@media (max-width:880px){
  .map-img{
    height: 250px;
  }
  .font{
    font-size:15px;
  }
  #header{  
    font-size: 35px;
  }
  #movie-list{
    margin: 0px 80px 0px 80px;
  }
}
@media (max-width: 745px){
  .map-img{
    height: 200px;
    margin: 25px 15px 20px 15px;
  }
  .map-img:hover{
    height: 225px;
    margin: 20px 15px 0px 15px;
    transition: .5s;
    box-shadow: 0px 0px 20px 5px rgb(100, 100, 100);
  }
  .font{
    font-size:15px;
  }
  #header{  
    font-size: 23px;
  }
  #movie-list{
    margin: 0px 50px 0px 50px;
  }
}
@media (max-width: 480px){
  .map-img{
    border-radius: 10px;
    height: 250px;
    margin: 0px 10px 20px 10px;
    border-style: none;
    box-shadow: 0px 0px 20px 10px rgb(105, 105, 105);
  }
  .map-img:hover{
    height: 250px;
    margin: 0px 10px 20px 10px;
    transition: .5s;
    box-shadow: 0px 0px 20px 5px rgb(100, 100, 100);
  }
  .font{
    font-size:15px;
  }
  #header{  
    font-size: 30px;
  }
  #movie-list{
    margin: 0px 0px 0px 0px;
  }
}
@media (max-width: 380px){
  .map-img{
    border-radius: 10px;
    height: 207px;
    margin: 0px 10px 20px 10px;
    border-style: none;
    box-shadow: 0px 0px 20px 10px rgb(105, 105, 105);
  }
}