html {
  text-align: center;
  /* background-color: rgb(178, 178, 178); */
  /* background-image: url("http/s://terrigen-cdn-dev.marvel.com/content/prod/1x/avas_p_0189_ss13_copy.jpg"); */
  /* background-image: url("https://images.unsplash.com/photo-1612036782180-6f0b6cd846fe?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8bWFydmVsfGVufDB8fDB8fA%3D%3D&w=1000&q=80"); */
}
a{
  text-decoration: none;
}
nav{
  position: sticky;
  top: 0;
}
#font-title{
  color:rgb(255, 255, 255);
  font-family: Marvel;
}
.map-img{
  border-radius: 10px;
  height: 450px;
  margin: 10px 25px 15px 25px;
  cursor: pointer;
  -moz-box-shadow: 3px 3px 3px rgb(48, 48, 48);
  -webkit-box-shadow: 3px 3px 3px rgb(48, 48, 48);
  box-shadow: 0px 0px 10px 5px rgb(103, 103, 103);
  transition: .1s;
  /* box-shadow: 60px -15px teal; */
}
.map-img:hover{
  /* border-style: groove;
  border-color: #000000; */
  margin: 5px 25px 0px 25px;
  /* height: 95%;
  width: 65%;
  margin: 2% 8% 2% 8%;
  transition: .35s;
  box-shadow: 0px 0px 20px 5px rgb(100, 100, 100); */
 /* box-shadow: 0px 0px 15px 10px rgb(78, 78, 78); */
}
#search{
  margin-top: 10px;
}
#results{
  margin-top: 10px;
}
#movie-list{
  display: grid;
  grid-template-columns:1fr 1fr 1fr 1fr;
  padding: 50px 120px 0px 120px;
  /* background-color: rgb(94, 94, 94); */
  /* background-color: rgb(178, 178, 178); */
  background-color: rgb(255, 255, 255);
  /* margin: 0px 180px 0px 180px; */
  /* margin: 0px 15% 0px 15%; */
  margin-left: auto;
  margin-right: auto;
  border-radius: 50px;
  border-radius: 100px 100px;
  border-radius: 10;

}
#container{
  /* background-image: url("https://images.unsplash.com/photo-1612036782180-6f0b6cd846fe?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8bWFydmVsfGVufDB8fDB8fA%3D%3D&w=1000&q=80"); */
  background-image: url("https://img.freepik.com/premium-photo/black-brick-building-wall-interior-modern-loft-background-design_73152-5446.jpg");
  background-color: #000000;
  background-position: center;
  display: grid;
  justify-content: center;
  align-items: center;
}
#map-delete{
  margin-left: 5px;
  background-color: rgb(0, 0, 0);
  color:white;
  padding-top: 3px;
}
#header{  
  /* background-color: #7d0000; */
  margin: 30px 0px 15px 0px;
  height:300px;
}
#phase{
  position: relative;
  text-align: center;
  color:white;
}
#phase-font{
  color:white; 
  /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  transform: scale(1.1, 1.5);
  font-size: 43px;
  position: absolute;
  top:68%;
  left:44.8%;
  /* letter-spacing: -4px; */
}
#shows-font{
  color:white; 
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  transform: scale(1.1, 1.5);
  font-size: 43px;
  position: absolute;
  top:68%;
  left:45%;
}
#nav-home{
  display: grid;
  justify-content: center;
  /* margin-left: 100px; */
}
#nav{
  display: flex;
  /* grid-template-columns: 5fr 1fr 1fr 1fr 1fr 1fr 1fr; */
  justify-content: center;
  background-color:#000000;
  background-color: rgb(0, 0, 0);
}
#movie-font{
  color:rgb(0, 0, 0);
  font-family: 'Marvel';
  font-size:28px;
  transition: 1s;
  text-shadow: -1px 1px 0 rgb(255, 255, 255),
  1px 1px 0 rgb(255, 255, 255),
  1px -1px 0 rgb(255, 255, 255),
  -1px -1px 0 rgb(255, 255, 255);
}
.nav-font{
  color: rgb(255, 255, 255);
  margin: 10px;
}
#movie-card-layout{
  display: grid;
  grid-template-columns: 1fr 4fr;
}
#movie-card-img{
  margin: 50px 0px 0px 0px;
  height:550px;
  box-shadow: 0px 0px 30px 15px rgb(0, 0, 0);
  transition: 1s;
}
.rating{
  color:rgb(255, 255, 255);
  /* text-shadow: 2px 0 rgb(0, 0, 0), -2px 0 rgb(0, 0, 0), 0 2px rgb(0, 0, 0), 0 -2px rgb(0, 0, 0); */
  text-shadow: -1px 1px 0 rgb(0, 0, 0),
  1px 1px 0 rgb(0, 0, 0),
  1px -1px 0 rgb(0, 0, 0),
  -1px -1px 0 rgb(0, 0, 0);
  font-family: Marvel;
  border-style: groove;
  /* margin:30px 0px 30px 0px; */
  /* border-color: black; */
  box-shadow: 0px 0px 15px 15px rgb(0, 0, 0);
  /* box-shadow: 0px 0px 10px 15px rgb(239, 239, 239); */
}
/* #rating-display{
  transition: 1s;
} */
iframe{
  margin-top: 70px;
  margin-right: 50px;
  height: 600px;
  width: 1000px;
  box-shadow: 0px 0px 25px 25px rgb(0, 0, 0);
  /* box-shadow: 0px 0px 75px 85px rgb(0, 0, 0); */
  transition: 1s;
}
.details{
  margin-left: 100px;
  margin-right: 80px;
}
#rating-display{
  background-color: rgb(54, 54, 54);
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 1700 px ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@media (max-width:1700px){
#movie-list{
    grid-template-columns:1fr 1fr 1fr;
  }
  .map-img{
    height: 350px;
  }
  #movie-list{
    margin: 0px 100px 0px 100px;
  }
  #rating-display{
    margin-right: 10px;
  }
  .rating{
    font-size: 16px;
  }
  #movie-card-img{
    height:480px;
    box-shadow: 0px 0px 30px 15px rgb(0, 0, 0);
  }
  iframe{
    height: 550px;
    width: 900px;
  }
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 1540 px ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@media (max-width: 1540px) {
  .rating{
    font-size: 15px;
  }
  #movie-card-img{
    height:425px;
    box-shadow: 0px 0px 30px 15px rgb(0, 0, 0);
  }
  iframe{
    height: 450px;
    width: 700px;
  }
  #movie-font{
    font-size: 22px;
  }
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 1265 px ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@media (max-width: 1265px) {
  .rating{
    font-size: 18px;
    padding: 10px 0px 10px 0px;
  }
  #movie-card-img{
    height:425px;
    box-shadow: 0px 0px 30px 15px rgb(0, 0, 0);
    margin: 50px 0px 0px 0px;
    transition: 0s;
  }
  iframe{
    margin: 0px;
    margin-bottom: 40px;
    height: 450px;
    width: 700px;
    /* box-shadow: 0px 0px 25px 25px rgb(0, 0, 0); */
    transition: 0s;
  }
  #movie-font{
    font-size: 22px;
  }
  #movie-card-layout{
    display: grid;
    grid-template-columns: 1fr;
  }
  #rating-display{
    margin: 0px 100px 0px 100px;
  }
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 1235 px ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@media (max-width:1235px){
  
  .map-img{
    height: 90%;
    width: 60%;
    transition: 0s;
  }
  .map-img:hover{
    height: 93%;
    width: 63%;
    margin: 20px 5% 0px 5%;
    transition: .35s;
    /* box-shadow: 0px 0px 20px 5px rgb(100, 100, 100); */
    box-shadow: 0px 0px 15px 10px rgb(78, 78, 78);
  }
  #header{  
    font-size: 35px;
  }
  #movie-list{
    margin: 0px 100px 0px 100px;
    grid-template-columns:1fr 1fr;
    transition: 0s;
  }
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 1075 px ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@media (max-width:1075px){
  #movie-list{
    grid-template-columns:1fr 1fr;
  }
  /* .map-img{
    height: 80%;
    width: 50%;
  } */
  .map-img:hover{
    /* height: 83%;
    width: 52%; */
    margin: 20px 5% 0px 5%;
    transition: .5s;
    box-shadow: 0px 0px 20px 5px rgb(100, 100, 100);
  }
  #movie-list{
    margin: 0px 100px 0px 100px;
  }
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 900 px ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

@media (max-height: 900px) {
  #rating-display{
    margin-right: 10px;
  }
  .rating{
    font-size: 16px;
  }
  #movie-card-img{
    height:480px;
    box-shadow: 0px 0px 30px 15px rgb(0, 0, 0);
  }
  iframe{
    height: 550px;
    width: 900px;
  }
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 880 px ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@media (max-width:880px){
  .font{
    font-size:15px;
  }
  #header{  
    font-size: 35px;
  }
  #movie-list{
    margin: 0px 80px 0px 80px;
  }
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 780 px ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@media (max-width: 780px) {
  .rating{
    font-size: 18px;
    padding: 10px 30px 10px 30px;
  }
  #movie-card-img{
    height:425px;
    box-shadow: 0px 0px 30px 15px rgb(0, 0, 0);
    margin: 50px 0px 0px 0px;
  }
  iframe{
    margin-top: 30px;
    margin-bottom: 60px;
    height:120%;
    width: 80%;
    transition: 1s;
  }
  #movie-font{
    font-size: 22px;
  }
  #movie-card-layout{
    display: grid;
    grid-template-columns: 1fr;
  }
  #rating-display{
    margin: 0px 10% 0px 10%;
  }
}
@media (max-width: 780px) {
  .nav-font{
    font-size: 15px;
  }
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 745 px ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@media (max-width: 745px){
  .map-img{
    height: 280px;
    margin: 25px 10% 20px 10%;
  }
  .map-img:hover{
    height: 225px;
    margin: 20px 15px 0px 15px;
    transition: .5s;
    box-shadow: 0px 0px 20px 5px rgb(100, 100, 100);
  }
  .font{
    font-size:15px;
  }
  #header{  
    font-size: 23px;
  }
  #movie-list{
    margin: 0px 50px 0px 50px;
  }
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 480 px ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@media (max-width: 480px){
  .map-img{
    height: 250px;
    margin: 0px 10px 20px 10px;
    border-style: none;
    box-shadow: 0px 0px 20px 10px rgb(135, 135, 135);
  }
  .map-img:hover{
    height: 250px;
    margin: 0px 10px 20px 10px;
    transition: .5s;
    box-shadow: 0px 0px 20px 5px rgb(100, 100, 100);
  }
  .font{
    font-size:15px;
  }
  #header{  
    font-size: 30px;
  }
  #movie-list{
    margin: 0px 0px 0px 0px;
    background-color: rgb(255, 255, 255);
  }
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 466 px ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@media (max-width: 466px) {
  .nav-font{
    font-size: 12px;
  }
  .rating{
    font-size: 18px;
    padding: 10px 30px 10px 30px;
  }
  #movie-card-img{
    height:70%;
    width: 70%;
    box-shadow: 0px 0px 30px 15px rgb(0, 0, 0);
  }
  iframe{
    margin-top: 30px;
    margin-bottom: 60px;
    height:75%;
    width: 80%;
    transition: 1s;
  }
  #movie-font{
    font-size: 22px;
  }
  #movie-card-layout{
    display: grid;
    grid-template-columns: 1fr;
  }
  #rating-display{
    margin: 0px 10% 0px 10%;
  }
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 380 px ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@media (max-width: 380px){
  .map-img{
    height: 207px;
    margin: 0px 10px 20px 10px;
    border-style: none;
    box-shadow: 0px 0px 20px 10px rgb(135, 135, 135);
  }
  .map-img:hover{
    height: 207px;
  }
  #header{  
    font-size: 25px;
  }
  #movie-list{
    background-color: rgb(255, 255, 255);
  }
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 375 px ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@media (max-width: 375px) {

}